


    .navbar-nav .nav-link {
      position: relative;
      color: #fff !important;
      font-weight: 500;
      transition: color 0.3s ease;
    }
    .navbar-nav .nav-link::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -5px;
      left: 50%;
      background-color: #ffdd57;
      transition: all 0.3s ease-in-out;
    }
    .navbar-nav .nav-link:hover {
      color: #ffdd57 !important;
    }
    .navbar-nav .nav-link:hover::after {
      width: 100%;
      left: 0;
    }